#cryptoContainer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  overflow-x: hidden;
  border-radius: 12px;
  background: #FFFFFF;
box-shadow:  20px 20px 60px #d9d9d9,
             -20px -20px 60px #ffffff;
}

.favoriteIcon {
  width: 15px;
  z-index: 1;
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px;
}

.favoriteIcon:hover,
.favoriteIcon:active {
    transform: scale(1.1);
  filter: brightness(0) saturate(100%) invert(36%) sepia(19%) saturate(7388%) hue-rotate(11deg)
    brightness(100%) contrast(95%);
}
